<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin - Pedidos</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/main.css">

</head>
<body>
    
    <div class="container">

        <h1>Login - Pedidos</h1>

        <div class="login-form">

            <!-- Email -->
            <div class="form-input email">
                <input type="email" name="email" id="email" placeholder="Email">
            </div>

            <!-- Senha -->
            <div class="form-input password">
                <input type="password" name="password" id="password" placeholder="Senha">
            </div>

            <!-- Button -->
            <div class="form-input button">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>

        </div>

    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="static/js/main.js"></script>
</body>
</html>